*.pyc
*.pickle
*.p
*.avi

/data
*.pth

faster_rcnn/data
ssd.pytorch/data
ssd.pytorch/weights
capsule_networks/data
capsule_networks/epochs
pytorch-residual-networks/cifar-10-batches-py
Papers For Students/

rewrite_folder.py
detection/data
